<p>로그인된 아이디 : <%=@email%></p>

<div class="container">
  
  <div container>
    <h1>게시판</h1>
    
    
    <h1>글쓰는 곳</h1>

      <div class="form-group">
        <label >제목</label>
        <input type="text" name="title" class="form-control" id="title" placeholder="제목을 입력해주세요">
      </div>
      <div class="form-group">
        <label >글쓴이</label>

        <input type="email" name="writer" class="form-control" id="writer" value="<%=@email%>" placeholder="글쓴이를 입력해주세요">

      </div>
      <div class="form-group">
      <label for="comment">내용</label>
          <textarea class="form-control" name="content" rows="5" id="content"></textarea>
      </div>
      
      <button type="submit" class="btn btn-default write_submit">Submit</button>

</div>

<script>
  $( ".write_submit" ).click(function() {

  $.ajax({
    method: "POST",
    url: "/home/write",
    data: { title: $("#title").val(),
            writer: $("#writer").val(),
            content: $("#content").val()
          }
    
  })
    .done(function( msg ) {
        alert( "작성이 완료되었습니다" );

    });
  });
</script>